GenerateXML/GenerateXML/ITR-1_2020.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="schema">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="import">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:anyURI" name="namespace"/>
                <xs:attribute type="xs:string" name="schemaLocation"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="element">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="complexType">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="sequence">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:QName" name="ref" use="optional"/>
                                  <xs:attribute type="xs:byte" name="minOccurs" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:anyURI" name="targetNamespace"/>
      <xs:attribute type="xs:string" name="elementFormDefault"/>
      <xs:attribute type="xs:string" name="attributeFormDefault"/>
    </xs:complexType>
  </xs:element>
</xs:schema>